################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/静态类库测试/.vs/静态类库测试
/静态类库测试/JX_StandardMethod_WMS/bin/Debug
/静态类库测试/JX_TCPIPDataProtocol/bin/Debug
/静态类库测试/测试启动项/bin/Debug
/静态类库测试/静态类库测试/bin/Debug
